:root {
  --solarized-bg: var(--solarized-base03);
  --solarized-primary: var(--solarized-base3);
  --solarized-secondary: var(--solarized-base1);
  --solarized-card: var(--solarized-base02);

  /* Render native browser elements in dark mode */
  color-scheme: dark;
}
