[data-theme=solarized], .app-theme-picker__picker[data-theme=solarized] {
  --solarized-emphasized: var(--solarized-base01);
  --solarized-primary: var(--solarized-base00);
  --solarized-secondary: var(--solarized-base1);
  --solarized-bg-highlights: var(--solarized-base2);
  --solarized-bg: var(--solarized-base3);
}

@media (prefers-color-scheme: light) {
  [data-theme=solarized-system], .app-theme-picker__picker[data-theme=solarized-system] {
    --solarized-emphasized: var(--solarized-base01);
    --solarized-primary: var(--solarized-base00);
    --solarized-secondary: var(--solarized-base1);
    --solarized-bg-highlights: var(--solarized-base2);
    --solarized-bg: var(--solarized-base3);
  }
}