[data-theme=solarized], .app-theme-picker__picker[data-theme=solarized], [data-theme=solarized-dark], .app-theme-picker__picker[data-theme=solarized-dark], [data-theme=solarized-system], .app-theme-picker__picker[data-theme=solarized-system] {
  --solarized-base03:  #002b36;
  --solarized-base02:  #073642;
  --solarized-base01:  #586e75;
  --solarized-base00:  #657b83;
  --solarized-base0:   #839496;
  --solarized-base1:   #93a1a1;
  --solarized-base2:   #eee8d5;
  --solarized-base3:   #fdf6e3;
}
