:root {
  --background: var(--solarized-bg);
  --accent-color: var(--solarized-blue);

  /* Text */
  --text-color: var(--solarized-primary);
  --text-color-secondary: var(--solarized-secondary);

  /* Tooltips */
  /*--tooltip-box-shadow:*/
  /*    inset 0 0 0 1px rgba(255, 255, 255, 0.025),*/
  /*    inset var(--jenkins-border--subtle-shadow),*/
  /*    0 0 8px 2px rgba(0, 0, 20, 0.05),*/
  /*    0 0 1px 1px rgba(0, 0, 20, 0.025),*/
  /*    0 10px 20px rgba(0, 0, 20, 0.2);*/

  /* Dropdowns */
  /*--dropdown-box-shadow:*/
  /*    inset 0 0 0 1px rgba(255, 255, 255, 0.025),*/
  /*    inset var(--jenkins-border--subtle-shadow),*/
  /*    0 0 8px 2px rgba(0, 0, 20, 0.05),*/
  /*    0 0 1px 1px rgba(0, 0, 20, 0.025),*/
  /*    0 10px 20px rgba(0, 0, 20, 0.3);*/

  /* Table */
  --table-background: var(--card-border-color);
  --table-border-color: var(--card-border-color);

  /* Tab bar */
  --tabs-item-background--selected: var(--background);

  /* Side panel */
  --panel-border-color: color-mix(in oklch, var(--text-color-secondary) 15%, var(--card-background));

  /* Form */
  --input-color: oklch(from var(--text-color-secondary) l c h / 0.03);
  --input-border: oklch(from var(--text-color-secondary) l c h / 0.3);
  --input-border-hover: oklch(from var(--text-color-secondary) l c h / 0.4);
  --focus-input-glow: oklch(from var(--focus-input-border) l c h / 0.2);

  /* Plugin manager */
  --plugin-manager-bg-color-already-upgraded: var(--dark-theme-bg-medium);

  /* Default button */
  --button-background: oklch(from var(--text-color-secondary) l c h / 0.075);
  --button-background--hover: oklch(
      from var(--text-color-secondary) l c h / 0.125
  );
  --button-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );
  --button-box-shadow--focus: oklch(
      from var(--text-color-secondary) l c h / 0.1
  );

  /* Variables for sidebar items, card items */
  --item-background--hover: oklch(from var(--text-color-secondary) l c h / 0.1);
  --item-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.15
  );
  --item-box-shadow--focus: oklch(from var(--text-color-secondary) l c h / 0.1);

  /* Card */
  --card-background: var(--solarized-card);
  --card-border-color: color-mix(in oklch, var(--text-color-secondary) 10%, var(--card-background));
}
