[data-theme=solarized], .app-theme-picker__picker[data-theme=solarized], [data-theme=solarized-dark], .app-theme-picker__picker[data-theme=solarized-dark], [data-theme=solarized-system], .app-theme-picker__picker[data-theme=solarized-system] {
  --background: var(--solarized-bg);

  /* Text */
  --text-color: var(--solarized-primary);
  --text-color-secondary: var(--solarized-secondary);

  /* Breadcrumbs - Deprecated */
  --breadcrumbs-bar-background: var(--background);

  /* Table */
  --table-background: var(--card-border-color);
  --table-border-color: var(--card-border-color);

  /* Side panel */
  --panel-border-color: color-mix(in oklch, var(--text-color-secondary) 15%, var(--card-background));

  /* Form */
  --input-color: oklch(from var(--text-color-secondary) l c h / 0.03);
  --input-border: oklch(from var(--text-color-secondary) l c h / 0.3);
  --input-border-hover: oklch(from var(--text-color-secondary) l c h / 0.4);

  /* Default button */
  --button-background: oklch(from var(--text-color-secondary) l c h / 0.075);
  --button-background--hover: oklch(
      from var(--text-color-secondary) l c h / 0.125
  );
  --button-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.175
  );
  --button-box-shadow--focus: oklch(
      from var(--text-color-secondary) l c h / 0.1
  );

  /* Variables for sidebar items, card items */
  --item-background--hover: oklch(from var(--text-color-secondary) l c h / 0.1);
  --item-background--active: oklch(
      from var(--text-color-secondary) l c h / 0.15
  );
  --item-box-shadow--focus: oklch(from var(--text-color-secondary) l c h / 0.1);

  /* Card */
  --card-background: var(--solarized-card);
  --card-border-color: color-mix(in oklch, var(--text-color-secondary) 10%, var(--card-background));
}
